@use '../../../../styles/common';

.container {
    background-color: var(--primary-color);
    padding: 64px;

    &__title {
        composes: text-h5 from global;
        color: white;
    }

    &__description {
        composes: text-body2 from global;
        font-weight: 300;
        color: white;
    }

    &__group {
        display: flex;
        flex-direction: row;
        row-gap: 8px;
        column-gap: 32px;
        padding-top: 8px;
        align-items: center;

        &__card {
            @include common.elevation(1);

            padding: 32px;
    
            &__title {
                composes: text-h6 from global;
                color: white;
            }
    
            &__description {
                composes: text-body2 from global;
                font-weight: 300;
                color: white;
            }
        }
    }
}