@use '../../../styles/common';

.page {
  padding: 32px;

  &__title {
    composes: text-h4 from global;
  }

  &__subtitle {
    composes: text-h6 from global;
  }

  &__description {
    composes: text-body2 from global;
  }

  &__container {
    display: flex;
    margin-bottom: 32px;

    &__img {
      width: 80%;
      max-width: 400px;
      text-align: center;
      padding-right: 16px;

      > img {
        object-fit: cover;
        max-width: 100%;
        height: 400px;
      }
    }
  }

  &__list {
    &__item {
      composes: text-body2 from global;
      line-height: 24px;
    }
  }
}

@include common.for-size-up(md) {
  .page {
    padding: 64px;
  }
}
